.filter__item {
  font-size: 2.4rem;
  padding: 1rem;
  margin-right: 1rem;
  border: 2px solid #03a9f4;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  user-select: none;
  -webkit-touch-callout: none;
   font-weight: 200;
}

.tabStyle {
  background-color: #03a9f4;
  color: white;
  border: none;
}