@import url("https://fonts.googleapis.com/css?family=Ubuntu|Roboto:300");
.todo-input {
  flex: 1 1 100%;
  max-width: 50rem;
  border: 0.4rem solid #03a9f4;
  padding: 1rem;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  box-shadow: -1px -1px 13px -5px rgba(0, 0, 0, 0.64);
  font-weight: 200;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.header__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 8rem;
  flex: 1 1 100%;
  text-align: center;
  color: #03a9f4;
  margin-bottom: 1.4rem;
}