@import url("https://fonts.googleapis.com/css?family=Roboto:300");

li {
  list-style-type: none;
  font-size: 2.4rem;
  border: 0.4rem solid #03a9f4;
  padding: 1rem;
  margin-bottom: 1rem;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__createTime {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: gray;
  margin-left: 2rem;
}

.list__tick {
  position: absolute;
  top: 14%;
  left: 18%;
  width: 0.5rem;
  height: 0.5rem;
  color: green;
  user-select: none;
  -webkit-touch-callout: none;
}

.list__task {
  font-family: "Roboto", sans-serif;
  flex: 1 1 auto;
  word-break: break-all;
  transition: opacity 0.3s ease-out;
  font-weight: 200;
}

.list__checkbox {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: 0.2rem solid black;
  position: relative;
  margin-right: 1.5rem;
  flex-shrink: 0;
  cursor: pointer;
}

.list__deleteButton {
  font-size: 3.8rem;
  color: red;
  opacity: 0.6;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

.list__edit {
  flex: 1 1 auto;
  border: 0.2rem solid black;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  padding: 1rem;
  font-weight: 200;
}

@media screen and (max-width: 400px) {
  .list__edit {
    flex: 0 1 60%;
    max-width: 330px;
  }
}

.taskDone {
  opacity: 0.3;
  text-decoration: line-through;
}

.note {
  margin-right: 4rem;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.9rem;
  border-radius: 100%;
  border: 0.2rem solid green;
  user-select: none;
  -webkit-touch-callout: none;
  color: green;
}

@media screen and (max-width: 600px) {
  .note {
    margin-left: 0.5rem;
  }
}
.modal {
  position: fixed;
  width: 80%;
  max-width: 400px;
  min-height: 300px;
  max-height: 90vh;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: auto;
  border-radius: 4px;
  border: 3px solid #03a9f4;
}

.modal__textarea {
  width: 85%;
  max-width: 350px;
  height: 200px;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  margin: 1rem auto;
  display: block;
  resize: none;
  padding: 1rem;
  font-weight: 200;
  /* white-space: pre-wrap; */
}

.modal__text {
  width: 90%;
  word-break: break-all;
  font-size: 2.4rem;
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 1rem auto;
  white-space: pre-wrap;
  font-weight: 200;
}

.modal__button {
  font-family: "Lato", sans-serif;
  display: block;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10rem;
  padding: 1rem 1.5rem;
  background-color: green;
  color: white;
  border: none;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.6);
}

.closeButton-container {
  display: flex;
  justify-content: space-between;
}

.empty-box {
  margin-left: auto;
}

.modal__closebutton {
  color: red;
  margin-right: 1rem;
  font-size: 3rem;
  cursor: pointer;
}